{% extends "index.html" %} {% block content %}
<header class="text-white homepage" id="page-top">
  <div class="container px-4 text-center" id="homepagetext">
    <h1 class="fw-bolder">Unique Antiques</h1>
  </div>
</header>
<!-- First section some text here-->
<section id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>About us:</h2>
        <p class="lead">
          At Unique Antiques we pride ourselves on auctioning the highest quality desirable quaint antique items, 
          all whilst providing exceptional support to our customers. Unique Antiques is owned and operated by International Antiques & Collectors Fairs, organisers of Europe’s largest antiques fairs. 
          For over 25 years, IACF has been trusted by dealers to deliver thousands of buying customers to our fairs. 
          Our venture into online sales is no different with dedicated marketing and PR teams, and the largest advertising budget in to the online antiques sales market, 
          you can trust IACF to deliver buyers both on and offline.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- More text here-->
<section class="bg-light" id="services">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Our service:</h2>
        <p class="lead">
         Any product we sell goes through rigorous authencation inspection, to ensure you know what your buying is nothing but the real deal. All pictures used are the real product with no photoshop and no funny business, what you see is what you get!  Whether your buying for your self, family or a friend, you can have piece of mind knowing you've bought a piece of history from our safe and secure platform.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- And more text section-->
<section id="contact">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Contact us:</h2>
        <p class="lead">
          Have a query, suggestion or require help? <br> Get in touch, with our award winning support team, available 364 days a year, 24 hours a day. <br> Telephone: +44 (7653) 244 9136 <br> Email: support@uniqueantiques.com
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
